<link href="~/css/Caller/styles.css" rel="stylesheet" />
<div class="w-100 p-3" style="background-color: #f6f6f6">
    <div class="mb-2">
        <input class="form-control" style="width: 180px; display: inline" type="text" value="@ViewBag.User.UserName" readonly />
        <button class="btn btn-primary" style="display:inline"><i class="fas fa-redo-alt"></i>  Làm mới</button>
    </div>
    <section>
        <h3>1. Chọn vị trí</h3>
        <hr />
        <div class="mb-2">
            <input class="form-control" style="width: 180px; display: inline" type="text" id="positions" />
            <button class="btn btn-info" style="display:inline"><i class="fas fa-search"></i>  Tìm kiếm</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-hover bg-light">
                <colgroup>
                    <col style="width:30%" />
                    <col style="width:70%" />
                </colgroup>
                <thead>
                    <tr class="table-active">
                        <th>Ký hiệu cột</th>
                        <th>Mô tả cột</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h3>2. Chọn dây chuyền</h3>
        <hr />
        <div class="mb-2">
            <input class="form-control" style="width: 180px; display: inline" type="text" id="lines" />
            <button class="btn btn-info" style="display:inline"><i class="fas fa-search"></i>  Tìm kiếm</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-hover bg-light">
                <colgroup>
                    <col style="width:30%" />
                    <col style="width:70%" />
                </colgroup>
                <thead>
                    <tr class="table-active">
                        <th style="width:30%">Mã dây chuyền</th>
                        <th style="width:70%">Tên dây chuyền</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h3>3. Chọn công đoạn</h3>
        <hr />
        <div class="mb-2">
            <input class="form-control" style="width: 180px; display: inline" type="text" id="sections" />
            <button class="btn btn-info" style="display:inline"><i class="fas fa-search"></i>  Tìm kiếm</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-hover bg-light">
                <colgroup>
                    <col style="width:30%" />
                    <col style="width:70%" />
                </colgroup>
                <thead>
                    <tr class="table-active">
                        <th style="width:30%">Mã công đoạn</th>
                        <th style="width:70%">Tên công đoạn</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h3>4. Chọn bộ phận</h3>
        <hr />
        <div class="mb-2">
            <input class="form-control" style="width: 180px; display: inline" type="text" id="departments" />
            <button class="btn btn-info" style="display:inline"><i class="fas fa-search"></i>  Tìm kiếm</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-hover bg-light">
                <colgroup>
                    <col style="width:30%" />
                    <col style="width:70%" />
                </colgroup>
                <thead>
                    <tr class="table-active">
                        <th style="width:30%">Mã bộ phận</th>
                        <th style="width:70%">Tên bộ phận</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h3>5. Chọn lỗi</h3>
        <hr />
        <div class="mb-2">
            <input class="form-control" style="width: 180px; display: inline" type="text" id="defects" />
            <button class="btn btn-info" style="display:inline"><i class="fas fa-search"></i>  Tìm kiếm</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-hover bg-light">
                <colgroup>
                    <col style="width:30%" />
                    <col style="width:70%" />
                </colgroup>
                <thead>
                    <tr class="table-active">
                        <th style="width:30%">Mã lỗi</th>
                        <th style="width:70%">Tên lỗi</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h3>6. Chọn dụng cụ</h3>
        <hr />
        <div class="mb-2">
            <input class="form-control" style="width: 180px; display: inline" type="text" id="tools" />
            <button class="btn btn-info" style="display:inline"><i class="fas fa-search"></i>  Tìm kiếm</button>
        </div>
        <!--<div class="container m-0 p-0 bg-light">-->
        <div id="tools-container">
            <div class="row m-o bg-light" id="tools-display">
            </div>
        </div>
        <!--</div>-->
    </section>
    <section>
        <h3>7. Chụp ảnh lỗi</h3>
        <hr />
        <div class="bg-light img-area d-flex flex-column">
            <div class="img-preview d-flex flex-column">
                <div class="img-page d-flex justify-content-center">
                    <span id="current_page"></span>/<span id="max_page"></span>
                </div>
                <div class="img-carousel row p-0 m-0 flex-grow-1 align-items-center">
                    <div class="prev-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-left text-center w-100"></i></div>
                    <div class="current-img col-10 h-100">
                        <div class="delete-img px-2"><i class="fa-solid fa-xmark"></i></div>
                    </div>
                    <div class="next-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-right text-center w-100"></i></div>
                </div>
            </div>
            <div class="img-input d-flex justify-content-center align-items-center">
                <input type="file" style="display:none" accept="image/*" id="defect_img"/>
                <span class="w-75 text-center">
                    <button class="input-option bg-light">Chọn</button> hoặc <button class="input-option bg-light">Chụp</button> ảnh lỗi
                </span>
            </div>
        </div>
    </section>
    <section>
        <h3>8. Ghi chú</h3>
        <hr />
        <textarea class="form-control"></textarea>
    </section>
</div>
<div class="bg-light row mx-auto footer">
    <button class="btn btn-success col-6"><i class="fas fa-play-circle"></i>   Gọi không dừng</button>
    <button class="btn btn-danger col-6"><i class="fas fa-stop-circle"></i>   Gọi dừng</button>
</div>
<script src="~/js/convert-img-to-blob.js"></script>
<script src="~/js/ajax-call.js"></script>
<script src="~/js/Caller/main.js"></script>