<link href="~/css/Master/styles.css" rel="stylesheet" />
<section id="Tools">
    <h3>Quản lý dụng cụ</h3>
    <hr />
    <div class="mb-2">
        <input class="form-control" style="width: 180px; display: inline" type="text" id="tools" />
        <button class="btn btn-info"><i class="fas fa-search"></i>  Tìm kiếm</button>
        <button class="btn btn-success btn-add"><i class="fas fa-plus"></i>  Thêm mới</button>
    </div>
    <!--<div class="container m-0 p-0 bg-light">-->
    <div id="tools-container">
        <div class="row m-0 bg-light" id="tools-display">
        </div>
    </div>
    <!--</div>-->
</section>
<div class="modal fade" id="modal_input" tabindex="-1" aria-labelledby="modal_input" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal_title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="input_name" class="col-12 col-sm-3 col-form-label">Tên dụng cụ</label>
                    <div class="col-12 col-sm-9">
                        <input type="text" class="form-control" id="input_name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="input_file" class="col-12 col-sm-3 col-form-label">Ảnh</label>
                    <div class="col-12 col-sm-9">
                        <input type="file" class="form-control" accept="image/*" id="input_file">
                    </div>
                </div>
                <div class="preview w-100 d-flex justify-content-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">Lưu</button>
                <button type="button" class="btn btn-danger btn-delete" style="display:none">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/convert-img-to-blob.js"></script>
<script src="~/js/ajax-call.js"></script>
<script src="~/js/Master/main.js"></script>