<link href="~/css/Repair/styles.css" rel="stylesheet" />
<div class="pt-5">
    <table class="table table-bordered table-hover">
        <colgroup>
            <col class="th-left" />
            <col class="th-right" />
        </colgroup>
        <thead class="table-header">
            <tr>
                <th class="align-middle">
                    <div class="th-info">
                        <span style="color:DodgerBlue">Vị trí: </span>
                        <span class="position-name"></span>
                    </div>
                </th>
                <th rowspan="4" class="align-middle">
                    <h5 style="color:DodgerBlue">Dụng cụ</h5>
                    <div id="caller_tools">
                        <div class="bg-light img-area d-flex flex-column">
                            <div class="img-preview d-flex flex-column">
                                <div class="img-page d-flex justify-content-center">
                                    <span class="current-page"></span>/<span class="max-page"></span>
                                </div>
                                <div class="img-carousel row p-0 m-0  flex-grow-1 align-items-center">
                                    <div class="prev-img col-1 p-0 m-0 d-flex align-items-center" style="font-size:15px">
                                        <i class="fa-solid fa-angle-left text-center w-100"></i>
                                    </div>
                                    <div class="current-img col-10 d-flex justify-content-center" style="height: 25vw">
                                        @* <div class="delete-img px-2"><i class="fa-solid fa-xmark"></i></div> *@
                                    </div>
                                    <div class="next-img col-1 p-0 m-0 d-flex align-items-center" style="font-size:15px">
                                        <i class="fa-solid fa-angle-right text-center w-100"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="tools-name flex-grow-1 d-flex align-items-center justify-content-center">
                                <span class="tool-name"></span>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="align-middle">
                    <div class="th-info">
                        <span style="color:DodgerBlue">Dây chuyền: </span>
                        <span class="line-name"></span>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="align-middle">
                    <div class="th-info">
                        <span style="color:DodgerBlue">Công đoạn: </span>
                        <span class="section-name"></span>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="align-middle">
                    <div class="th-info">
                        <span style="color:DodgerBlue">Lỗi: </span>
                        <span class="defect-name"></span>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="2">
                    <h5 style="color:DodgerBlue">Ảnh lỗi</h5>
                    <div class="px-1 px-md-5" id="caller_defects">
                        <div class="bg-light img-area d-flex flex-column">
                            <div class="img-preview d-flex flex-column">
                                <div class="img-page d-flex justify-content-center">
                                    <span class="current-page"></span>/<span class="max-page"></span>
                                </div>
                                <div class="img-carousel row p-0 m-0 flex-grow-1 align-items-center">
                                    <div class="prev-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-left text-center w-100"></i></div>
                                    <div class="current-img col-10 d-flex justify-content-center">
                                        @* <div class="delete-img px-2"><i class="fa-solid fa-xmark"></i></div> *@
                                    </div>
                                    <div class="next-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-right text-center w-100"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h5 style="color:DodgerBlue">Ghi chú từ người gọi</h5>
                    <textarea class="form-control defect-note" readonly></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center" id="button_receive">
        <button class="btn btn-primary px-5 btn-receive" style="font-size:3rem">Nhận</button>
    </div>
    <div style="display:none">
        <div class="mb-5">
            <h5 style="color:DodgerBlue">Ảnh trước khi sửa</h5>
            <div class="px-1 px-md-5 mt-3 mt-md-5" id="before_repair_img">
                <div class="bg-light img-area d-flex flex-column">
                    <div class="img-preview d-flex flex-column">
                        <div class="img-page d-flex justify-content-center">
                            <span class="current-page"></span>/<span class="max-page"></span>
                        </div>
                        <div class="img-carousel row p-0 m-0 flex-grow-1 align-items-stretch">
                            <div class="prev-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-left text-center w-100"></i></div>
                            <div class="current-img col-10 d-flex justify-content-center align-items-stretch">
                                <div class="delete-img px-2"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                            <div class="next-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-right text-center w-100"></i></div>
                        </div>
                    </div>
                    <div class="img-input d-flex justify-content-center align-items-center">
                        <input type="file" style="display:none" accept="image/*" id="before_repair_img" class="img-input" />
                        <span class="w-75 text-center">
                            <button class="input-option bg-light">Chọn</button> hoặc <button class="input-option bg-light">Chụp</button> ảnh lỗi
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-warning px-5 btn-repair" style="font-size:3rem">Sửa</button>
        </div>
    </div>
    <div class="mb-5" style="display:none">
        <section class="mb-3">
            <h3 style="color:DodgerBlue">Chọn mã nhóm lỗi</h3>
            <hr />
            <div class="mb-2">
                <input class="form-control group-defect"
                       style="width: 200px; display: inline"
                       type="text"/>
                <button class="btn btn-info" style="display: inline">
                    <i class="fas fa-search"></i> Tìm kiếm
                </button>
            </div>
            <div class="table-container">
                <table class="table table-bordered table-hover bg-light table-group-defect">
                    <thead>
                        <tr class="table-active">
                            <th style="width: 30%">Mã nhóm lỗi</th>
                            <th style="width: 70%">Tên nhóm lỗi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mb-3">
            <h3 style="color:DodgerBlue">Chọn mã lỗi</h3>
            <hr />
            <div class="mb-2">
                <input class="form-control detailed-defect"
                       style="width: 200px; display: inline"
                       type="text"/>
                <button class="btn btn-info" style="display: inline">
                    <i class="fas fa-search"></i> Tìm kiếm
                </button>
            </div>
            <div class="table-container">
                <table class="table table-bordered table-hover bg-light table-detailed-defect">
                    <thead>
                        <tr class="table-active">
                            <th style="width: 30%">Mã lỗi</th>
                            <th style="width: 70%">Tên lỗi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mb-3">
            <h3 style="color:DodgerBlue">Ảnh sau khi sửa</h3>
            <div class="px-1 px-md-5 mt-3 mt-md-5" id="after_repair_img">
                <div class="bg-light img-area d-flex flex-column">
                    <div class="img-preview d-flex flex-column">
                        <div class="img-page d-flex justify-content-center">
                            <span class="current-page"></span>/<span class="max-page"></span>
                        </div>
                        <div class="img-carousel row p-0 m-0 flex-grow-1 align-items-stretch">
                            <div class="prev-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-left text-center w-100"></i></div>
                            <div class="current-img col-10 d-flex justify-content-center align-items-stretch">
                                <div class="delete-img px-2"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                            <div class="next-img col-1 p-0 m-0 d-flex align-items-center"><i class="fa-solid fa-angle-right text-center w-100"></i></div>
                        </div>
                    </div>
                    <div class="img-input d-flex justify-content-center align-items-center">
                        <input type="file" style="display:none" accept="image/*" id="after_repair_img" class="img-input" />
                        <span class="w-75 text-center">
                            <button class="input-option bg-light">Chọn</button> hoặc <button class="input-option bg-light">Chụp</button> ảnh lỗi
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <div class="d-flex justify-content-center" id="button_finalize">
            <button class="btn btn-info px-5" data-bs-toggle="modal" data-bs-target="#finalize_modal" style="font-size:3rem">
                Kết thúc
            </button>
        </div>
    </div>
</div>
<div class="modal fade"
     id="finalize_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"
                    id="exampleModalLabel"
                    style="font-weight: 700">
                    Kết thúc hỗ trợ
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center">
                <h3 class="text-center">Quét mã QR để xác nhận kết thúc</h3>
                @* <video id="login_qrcode" autoplay></video> *@
                <canvas id="canvas" style="display:none"></canvas>
                <div class="text-center my-1">Hoặc</div>
                <label class="btn btn-outline-secondary">
                    Chụp ảnh
                    <input type="file" accept="image/*" name="qr-code" capture="environment" style="display:none" />
                </label>
            </div>
        </div>
    </div>
</div>
<script src="~/js/convert-img-to-blob.js"></script>
<script src="~/js/ajax-call.js"></script>
<script src="~/js/Repair/details.js"></script>
@section SideBar {
    <li class="my-3 py-2">
        <a href="/Repair"><span><i class="fa-solid fa-screwdriver-wrench"></i> Trả lời hỗ trợ</span></a>
    </li>
    <li class="my-3 py-2">
        <a href="/History/Repair"><i class="fa-solid fa-list"></i> Lịch sử</a>
    </li>
}