.label-header{
    color: dodgerblue;
}
.status-showcase {
    font-size:18px;
    font-weight:bold;
    color: white;
    cursor: pointer;
}
    .status-showcase.active {
        outline: 1px solid rgb(160,160,255);
    }
    .status-showcase.red {
        background: orangered;
    }
    .status-showcase.white {
        background: GhostWhite;
        color: black;
    }
    .status-showcase.green {
        background: limegreen;
    }

input[type="date"] {
    border: 1px solid #6c757d
}
td.text-wrap {
    text-align: center;
    cursor: pointer;
}
tbody tr td {
    font-weight: bold;
    vertical-align: middle;
    transition: background-color 1s ease, color 1s ease;
}
    tbody tr.waiting td {
        --bg-color: orangered;
        --text-color: white;
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    tbody tr.repairing td {
        --bg-color: GhostWhite;
        --text-color: black;
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    tbody tr.finished td {
        --bg-color: limegreen;
        --text-color: white;
        background-color: var(--bg-color);
        color: var(--text-color);
    }
        tbody td.flashing {
            animation: flash 1s infinite alternate;
        }
@keyframes flash {
    0% {
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    50% {
        background-color: darkred;
        color: white;
    }

    100% {
        background-color: var(--bg-color);
        color: var(--text-color);
    }
}
.info-header{
    color: dodgerblue !important;
}
.js-selected-text{
    color: black !important;
}
@media only screen and (min-width: 900px) {
    body {
        font-size: 12px;
    }

    .status-showcase {
        font-size: 12px;
        height: 22px;
    }

    .refresh-history {
        height: 20px;
        font-size: 12px;
    }

    .accordion-button {
        height: 20px;
        font-size: 12px !important;
        padding: .25rem 1.25rem;
    }

    .fa-solid, .fas {
        zoom: 0.8;
    }

    .container {
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .accordion, .btn, .form-control {
        --bs-btn-font-size: 12px;
        font-size: 12px;
    }

    tr td, tr th {
        padding: 2px 0 !important;
    }
}