.label-header{
    color: dodgerblue;
}
.status-showcase {
    font-size:18px;
    font-weight:bold;
    color: white;
}
    .status-showcase.red {
        background: orangered;
    }
    .status-showcase.yellow {
        background: yellow;
        color: black;
    }
    .status-showcase.green {
        background: limegreen;
    }
input[type="date"] {
    border: 1px solid #6c757d
}
tbody tr td{
    font-weight: bold;
    transition: background-color 1s ease, color 1s ease;
}
    tbody tr.waiting td {
        background-color: orangered;
        color: white;
    }
    tbody tr.repairing td {
        background-color: yellow;
    }
    tbody tr.finished td {
        background-color: limegreen;
        color: white;
    }