.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: .5rem 1rem;
    background-color:white;
    box-shadow: 15px 9px 25px 0 rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.cursor-pointer {
    cursor: pointer;
}
.dropdown-menu{
    min-height:150px;
}
#navbar-btn-toggle-sidebar {
    display: inline-block;
    cursor: pointer;
    width:30px;
    height:30px;
}
.bar1, .bar2, .bar3 {
    display:block;
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}