.navbar {
    position: fixed;
    z-index:101;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: .5rem 1rem;
    background-color:white;
    box-shadow: 15px 9px 25px 0 rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.cursor-pointer {
    cursor: pointer;
}
.dropdown-menu{
    min-height:150px;
}
#navbar-btn-toggle-sidebar {
    display: inline-block;
    cursor: pointer;
    width:30px;
    height:30px;
}
.bar1, .bar2, .bar3 {
    display:block;
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
@keyframes ring{0%{transform:rotate(0deg)}1%{transform:rotate(30deg)}3%{transform:rotate(-28deg)}5%{transform:rotate(34deg)}7%{transform:rotate(-32deg)}9%{transform:rotate(30deg)}11%{transform:rotate(-28deg)}13%{transform:rotate(26deg)}15%{transform:rotate(-24deg)}17%{transform:rotate(22deg)}19%{transform:rotate(-20deg)}21%{transform:rotate(18deg)}23%{transform:rotate(-16deg)}25%{transform:rotate(14deg)}27%{transform:rotate(-12deg)}29%{transform:rotate(10deg)}31%{transform:rotate(-8deg)}33%{transform:rotate(6deg)}35%{transform:rotate(-4deg)}37%{transform:rotate(2deg)}39%{transform:rotate(-1deg)}41%{transform:rotate(1deg)}43%{transform:rotate(0deg)}100%{transform:rotate(0deg)}}.ringing{animation:ring 1s infinite;transform-origin:50% 4px}.badge{right:5px;padding:5px 8px;border-radius:50%;background:red;color:white;font-size:12px}
