@using Microsoft.AspNetCore.Http
@using CallSupport.Common
@using CallSupport.Models.DTO
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var IsCaller = Context.Session.GetObject<bool>("IsCaller");
}
@if (IsCaller)
{
    <input type="checkbox" id="is_caller" checked hidden />
}
<link href="~/css/history/styles.css" rel="stylesheet" />
<div class="mb-2">
    <div class="accordion" id="setting">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa-solid fa-gear"></i><span class="ms-1">Cài đặt</span>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#setting">
                <div class="accordion-body">
                    <div class="row m-0 p-0">
                        <div class="col-12 col-md-6">
                            <div class="form-group row mx-auto">
                                <label class="col-12 my-auto form-label label-header" for="from_department">Từ bộ phận</label>
                                <select class="form-control col-7 mx-1" id="from_department">
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group row mx-auto">
                                <label class="col-12 my-auto form-label label-header" for="to_department">Tới bộ phận</label>
                                <select class="form-control col-7 mx-1" id="to_department">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12">
                            <div class="form-group row mx-auto">
                                <label class="col-12 my-auto form-label label-header" for="lines">Dây chuyền</label>
                                <select class="form-control col-7 mx-1" id="lines" multiple data-show-selection-as-list="true">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 col-md-6">
                            <div class="form-group row mx-auto">
                                <label class="col-12 my-auto form-label label-header" for="from_date">Từ ngày</label>
                                <div>
                                    <input type="date" class="form-control col-7" id="from_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group row mx-auto">
                                <label class="col-12 my-auto form-label label-header" for="to_date">Tới ngày</label>
                                <div>
                                    <input type="date" class="form-control col-7" id="to_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12">
                            <div class="form-group row mx-auto">
                                <label class="col-12 my-auto form-label label-header" for="lines">Trạng thái</label>
                                <select class="form-control col-7 mx-1" id="repair_status" multiple data-show-selection-as-list="true">
                                    <option value="0">Đang chờ</option>
                                    <option value="1">Đang sửa chữa</option>
                                    <option value="2">Đã xác nhận</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0 mb-2">
    <div class="col-4 text-center py-2 fw-bolder">
        <div class="btn btn-outline-secondary refresh-history">
            <span><i class="fa-solid fa-arrows-rotate"></i></span> <span>Làm mới</span>
        </div>
    </div>
    <div class="col-8 row m-0 p-0">
        <span class="col-4 py-2 border text-center status-showcase red">Đang chờ</span>
        <span class="col-4 py-2 border text-center status-showcase yellow">Sửa chữa</span>
        <span class="col-4 py-2 border text-center status-showcase green">Hoàn thành</span>
    </div>
</div>
<div class="mb-2 table-responsive-sm">
    <table class="table table-bordered table-hover table-history" style="table-layout:fixed">
        <colgroup>
            <col style="width:10%" />
            <col style="width:15%" />
            <col style="width:15%" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:15%" />
            <col style="width:15%" />
        </colgroup>
        <thead>
            <tr>
                <th class="text-center text-wrap text-break align-middle info-header">Mã dây chuyền</th>
                <th class="text-center text-wrap text-break align-middle info-header">Tên dây chuyền</th>
                <th class="text-center text-wrap text-break align-middle info-header">Công đoạn</th>
                <th class="text-center text-wrap text-break align-middle info-header">Vị trí</th>
                <th class="text-center text-wrap text-break align-middle info-header">Gọi bộ phận</th>
                <th class="text-center text-wrap text-break align-middle info-header">Lỗi</th>
                <th class="text-center text-wrap text-break align-middle info-header">TG gọi</th>
                @* <th>TG chờ</th> *@
                @* <th>TG sửa</th> *@
                @* <th>TG xác nhận</th> *@
                @* <th>TT chuyền</th> *@
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal" tabindex="-1" id="qr_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mã QR xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="qr_code" class="d-flex justify-content-center my-5"></div>
            </div>
            @* <div class="modal-footer"> *@
            @* <button type="button" class="btn btn-success" id="save_login_qr">Lưu</button> *@
            @* </div> *@
        </div>
    </div>
</div>
<script src="~/assets/bundles/enhanced-bootstrap-select/dist/locale/vn-vn.min.js"></script>
<script src="~/assets/bundles/enhanced-bootstrap-select/dist/jquery.bs-select.min.js"></script>
<script src="~/js/ajax-call.js"></script>
<script src="~/js/history/check-settings.js" asp-append-version="true" async></script>
<script src="~/js/notification.js" asp-append-version="true" async></script>
<script src="~/js/history/main.js" asp-append-version="true" defer></script>
@section SideBar {
    @if (IsCaller)
    {
        <li class="my-3 py-2">
            <a href="/Call"><i class="fa-solid fa-phone"></i> Gọi hỗ trợ</a>
        </li>
    }
    @* else
        {
            <a href="/Repair"><span><i class="fa-solid fa-screwdriver-wrench"></i> Trả lời hỗ trợ</span></a>
        } *@
    <li class="my-3 py-2">
        @if (IsCaller)
        {
            <a href="/History/Call"><i class="fa-solid fa-list"></i> Lịch sử</a>
        }
        else
        {
            <a href="/History/Repair"><i class="fa-solid fa-list"></i> Lịch sử</a>
        }
    </li>
}