main{
	padding: 30px;
}
.table-container{
	height: 320px;
}
.table .active-row td {
	background-color: skyblue !important;
}
#tools-container {
	max-height: 350px;
	overflow-y: auto;
}
.picked-tool {
	background-color: skyblue !important;
	color: white;
}
.input-option {
	font-size: 24px !important;
	text-decoration: underline black;
	border: none;
	padding: 10px;
}
.input-option:hover {
	color: deepskyblue;
}
.img-area {
	border: 3px dashed black;
	height: 500px;
	max-height: 600px;
	border-radius: 1rem;
}
.img-preview {
	flex-grow: 9;
	max-height: 85%;
}
.img-carousel {
	height: calc(100% - 24px);
}
.img-input {
	flex-grow: 1;
	font-size: 24px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.prev-img,
.next-img {
	font-size: 36px;
	cursor: pointer;
}
@media (max-width: 576px) {
	.prev-img,
	.next-img {
		font-size: 12px;
	}
}
.current-img {
	position: relative;
}
.current-img img {
	display: none;
	height: 420px;
	width: 550px;
	max-width: 100%;
	max-height: 100%;
}
.current-img img.active {
	display: block;
}
.delete-img {
	position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
	color: red;
	font-size: 30px;
}
.tools-options{
	position: relative;
}
.preview{
	max-height: 350px;
}
.label-header {
	color: dodgerblue;
}

.status-showcase {
	font-size: 18px;
	font-weight: bold;
	color: white;
}

	.status-showcase.red {
		background: orangered;
	}

	.status-showcase.yellow {
		background: GhostWhite;
		color: black;
	}

	.status-showcase.green {
		background: limegreen;
	}

input[type="date"] {
	border: 1px solid #6c757d
}

td.text-wrap {
	text-align: center;
	height: 100px;
	cursor: pointer;
}

tbody tr td {
	font-weight: bold;
	vertical-align: middle;
	transition: background-color 1s ease, color 1s ease;
}

tbody tr.waiting td {
	--bg-color: orangered;
	--text-color: white;
	background-color: var(--bg-color);
	color: var(--text-color);
}

tbody tr.repairing td {
	--bg-color: GhostWhite;
	--text-color: black;
	background-color: var(--bg-color);
	color: var(--text-color);
}

tbody tr.finished td {
	--bg-color: limegreen;
	--text-color: white;
	background-color: var(--bg-color);
	color: var(--text-color);
}

tbody tr.confirmed td {
	--bg-color: skyblue;
	--text-color: black;
	background-color: var(--bg-color);
	color: var(--text-color);
}

tbody td.flashing {
	animation: flash 1s infinite alternate;
}

@keyframes flash {
	0% {
		background-color: var(--bg-color);
		color: var(--text-color);
	}

	50% {
		background-color: darkred;
		color: white;
	}

	100% {
		background-color: var(--bg-color);
		color: var(--text-color);
	}
}

.line-stop {
	background-color: darkred !important;
	color: white !important;
}

.info-header {
	color: dodgerblue !important;
}

.js-selected-text {
	color: black !important;
}