.input-option {
    font-size: 24px !important;
    text-decoration: underline black;
    border: none;
    padding: 8px;
}

    .input-option:hover {
        color: deepskyblue;
    }

.img-area {
    border: 3px dashed black;
    min-height: 500px;
    max-height: 800px;
    border-radius: 1rem;
}
@media (max-width: 768px) {
    .img-area {
        min-height: 350px;
        max-height: 500px;
    }
}
@media (max-width: 360px) {
    .img-area {
        min-height: 200px;
        max-height: 350px;
    }
}
.img-preview {
    flex-grow: 9;
}

.img-carousel {
    height: calc(100% - 24px);
}

.img-input {
    flex-grow: 1;
    font-size: 24px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.prev-img,
.next-img {
    height: 250px;
    font-size: 36px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .prev-img,
    .next-img {
        height: 200px;
        font-size: 12px;
    }
}
@media (max-width: 360px) {
    .prev-img,
    .next-img {
        height: 150px;
        font-size: 10px;
        padding: 2px;
    }
}
.current-img {
    position: relative;
}

    .current-img img {
        display: none;
        max-width: 100%;
        max-height: 700px;
    }

        .current-img img.active {
            display: block;
        }
@media (max-width: 768px) {
    .current-img img {
        max-height: 400px;
    }
}
@media (max-width: 360px) {
    .current-img img {
        max-height: 230px;
    }
}
.delete-img {
    position: absolute;
    top: -10px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-size: 30px;
}
.table-header th .th-info{
    color: #495057;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 200px;
}
    .table-header th:hover {
        background-color: #e9ecef;
    }
.th-left{
    width:35%;
    overflow:hidden;
    text-overflow: ellipsis;
}
.th-right {
    width: 65%;
}
@media (max-width: 360px) {
    .th-left {
        max-width: 15%
    }
    .th-right{
        min-width: 85%
    }
}
.table .active-row td {
    background-color: skyblue !important;
}